* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}
#sidebar {
    
    height: 100%;
    /* background-color: rgb(250,250,250);
    border: 1px solid rgb(226, 223, 223); */
    /* position: fixed;
    top: 0;
    left: 0; */
    /* transition: all 0.5s ease;
/* } */
}
/* 
#sidebar.active {
    width: 20%;
} */

@keyframes scroll-in {
    from {

        transform: translateX(0);
    }

    to {
        
    transform: translateX(-40rem);
    }
}

#info {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
    position: sticky;
    top: 5px;
    background-color: #fff;
    margin-left: 1rem;
    
}

#info img {
    border-radius: 50%;
}

#info h2 {
    font-size: 16px;
}
#info h3 {
    font-size: 16px;
    color: rgb(138, 138, 138);
    font-weight: 500;
}

#icon-div {
   position: relative;
}

.icon2  {
    
}
#info .icon-btn {
     position: absolute;
     left: 2rem;
     top: 5px;
}

#info .icon-btn i {
    font-size: 20px;
    width: 30px;
    padding: 3px;
    border-radius: 70%;
    background-color: #f8f7f7;
    text-align: center;

}

#explore {
    margin-top: 3rem;
}
.exp {
    width: 90%;
    background-color: rgb(245,245,245);
    border: 1px solid rgb(186, 182, 182);
    margin-left: 1rem;
    border-radius: 7px;
    padding-bottom: 0.5rem;
}

#expl {
   width: 100%;
    display: flex;
   flex-direction: row;
   gap: 2rem;
   margin-top: 1rem;
   margin-left: 1rem;
}

#expl h2 {
    font-size: 18px;
    color: rgb(26, 25, 25);
    font-weight: 600;
    
}

#expl span {
    width: 100%;
    border: 1px solid rgb(237, 234, 234);
    padding: 5px 5px;
    border-radius: 5px;
}

#links {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

#links .icon2 i {
    font-size: 30px;
    
}

#links h2 {
     font-size: 18px;
     color: rgb(114, 112, 112);
     font-weight: 400;
}

#links span {
    width: 100%;
    border: 1px solid rgb(237, 234, 234);
    padding: 5px 5px;
    border-radius: 5px;
}
#resources {
    margin-top: 3rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 1rem;
    color: rgb(113, 113, 113);
}

#connect {
    margin-top: 3rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 10px;
    color: rgb(113, 113, 113);
}

#search {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 4rem;
    position: sticky;
    bottom: 5px;
    background-color: #fff;
}

#search i {
    position: absolute;
    left: 1rem;
    top: 18px;
}

.input {
    width: 100%;
    padding: 10px;
    background-color: rgb(245,245,245);
    border:1px solid rgb(202, 201, 201);
    border-radius: 10px;
}
.input::placeholder {
    padding-left: 2rem;
}

.span {
    transform: translateX(-2rem);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid rgb(221, 218, 218);
    padding: 5px;
    
    /* width: 30%;
    border: 1px solid rgb(237, 234, 234);
    border-radius: 5px; */
} 

.one {
    margin-left: 2rem;
}

.two {
    margin-left: 1.5rem;
}

.three {
    margin-left: 2rem;
}

.four {
    margin-left: 2rem;
}

.five {
    margin-left: 3rem;
}

.six {
    margin-left: 3.5rem;
}

.seven {
    margin-left: 1.5rem;
}

.eight {
    margin-left: 3.3rem;
}

.contact {
    margin-left: 2.5rem;
}

.twitter {
    margin-left: 2.5rem;
}

.linkedin {
    margin-left: 1.6rem;
}

.youtube {
    margin-left: 1.6rem;
}

a {
    text-decoration: none;
}


/* 
#boutique {
    width: 100%;
    display: flex;
    flex-direction: row;
} */









/* 
@media (max-width: 375px) {
    #sidebar {
        width: 100%;
    }
    
} */